<%- model_class = Team -%>
<div class="page-header">
</div>


<table class="table">
  <thead>
    <tr>
      <th>Team Name</th>
    <th><%= link_to model_class.human_attribute_name(:Carry), "http://dotawithme.com/teams?one=true" %></th>
<th><%= link_to model_class.human_attribute_name(:Mid), "http://dotawithme.com/teams?two=true" %></th>
<th><%= link_to model_class.human_attribute_name(:Offlane), "http://dotawithme.com/teams?three=true" %></th>
<th><%= link_to model_class.human_attribute_name(:Jungle), "http://dotawithme.com/teams?four=true" %></th>
<th><%= link_to model_class.human_attribute_name(:Support), "http://dotawithme.com/teams?five=true" %></th>
      <th>Average MMR</th>      
      <th><%= model_class.human_attribute_name(:language) %></th>
      <th>Second Language</th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th>Leader's Name</th>
      <th>Type of Play</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to "#{team.name}", team_path(team) %></td>
        <td><% if team.one? %><%= image_tag('checkmark.png')  %><% else %> <%= image_tag('redx.png') %><% end %></td>
        <td><% if team.two? %><%= image_tag('checkmark.png')  %><% else %> <%= image_tag('redx.png') %><% end %></td>
        <td><% if team.three? %><%= image_tag('checkmark.png')  %><% else %> <%= image_tag('redx.png') %><% end %></td>
        <td><% if team.four? %><%= image_tag('checkmark.png')  %><% else %> <%= image_tag('redx.png') %><% end %></td>
        <td><% if team.five? %><%= image_tag('checkmark.png')  %><% else %> <%= image_tag('redx.png') %><% end %></td>
        <td><%= team.rank %></td>
        <td><%= link_to team.language, team_path( '', :by_language => team.language) %></td> 
        <td><%= link_to team.languageTwo, team_path( '', :by_languageTwo => team.languageTwo) %></td>
        <td><%= link_to team.location, team_path('', :by_location => team.location) %></td>
        <td><%= link_to "#{team.username}", "http://dotabuff.com/players/" + team.leaderSteamID %></td>
        <td><%= link_to team.style, root_path( team.style, :by_style => team.style) %></td>
        <td>
        
          <% if session.key? :current_user and session[:current_user][:uid] == team.leaderSteamID %>
          <%= link_to 'Edit', edit_team_path(team), :class => 'btn btn-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      team_path(team),
                      :title => "Remove your listing?",
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Remove your listing?')) },
                      :class => 'btn btn-mini btn-danger' %>   
          <% else %>  
          
          <%= link_to 'Message', new_message_path(:id => team.username), :class => 'btn btn-primary' %>

          <% end %>
      
    <% end %>
          </td>
      </tr>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_team_path,
            :class => 'btn btn-primary' %>
<h3>*Check marks mean the position is filled.  Red 'X's mean the position is open.</h3>

