
<div class="span2"></div>
<div class="span8"><center>
<h1>Inbox</h1>
     <%= (session[:current_user][:username]) %>
<table class="table">
  <thead>
    <tr>
      <th>Recipient</th>
      <th>From</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
    
    <% if ((session.key? :current_user) and (session[:current_user][:nickname] == message.recipient)) %>
      <tr> 
        <td><%= message.recipient %></td>
        <td><%= message.from %></td>
        <td><%= link_to truncate(message.note, :length => 20, :seperator => ' '), message %></td>
        <td><%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
     
     </tr>
    <% end %>
<% end %>
  </tbody>
</table>
   

<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Recipient</th>
      <th>From</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
    
    <% if ((session.key? :current_user) and (session[:current_user][:nickname] == message.from)) %>
      <tr> 
        <td><%= message.recipient %></td>
        <td><%= message.from %></td>
        <td><%= link_to truncate(message.note, :length => 20, :seperator => ' '), message %></td>
        <td><%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
     
     </tr>
    <% end %>
<% end %>
  </tbody>
</table>
 
  
  </center></div>
<div class="span2"></div>