<p id="notice"><%= notice %></p>
<center><br><br>
  
<p><h5>
  <strong>Recipient:</strong>
  <%= @message.recipient %>
  </h5></p>

<p><h5>
  <strong>From:</strong>
  <%= @message.from %>
  </h5></p>

<p><h5>
  <strong>Note:</strong>
  <%= @message.note %>
  </h5></p>

<%= link_to 'Back', messages_path %> 
<% if session.key? :current_user and session[:current_user][:nickname] == @message.recipient %>
| <%= link_to 'Reply', new_message_path(:id => @message.from)  %>
<% end %>
</center>