<style>
  body {
    padding-top: 100px;
  }
</style>
      
<p>Check which spots in the lineup you play according to this <a href="http://www.teamliquid.net/forum/viewmessage.php?topic_id=366357">guide</a>. </p>
<%= form_for @player, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :Carry, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :one, :class => 'text_field' %>
    </div>
    <br>
  </div>
  <div class="control-group">
    <%= f.label :Mid, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :two, :class => 'text_field' %>
    </div>
    <br>
  </div>
  <div class="control-group">
    <%= f.label :Offlane, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :three, :class => 'text_field' %>
    </div>
    <br>
  </div>
  <div class="control-group">
    <%= f.label :Jungle, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :four, :class => 'text_field' %>
    </div>
    <br>
  </div>
  <div class="control-group">
    <%= f.label :Support, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :five, :class => 'text_field' %>
    </div>
    <br>
  </div>
    <div class="controls">
      <%= f.hidden_field :rank, :value => '0' %>
  </div>
 
  <div class="control-group">
    <%= f.label :language, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :language, options_for_select(["English", "Spanish", "Russian", "Mandarin", "Cantonese", "Korean", "Japanese", "Arabic", "Hindi", "Ukrainian","Romanian","Portuguese", "French", "German","Malay","Indonesian","Vietnamese","Persian","Turkish","Italian","Thai","Polish","Tagalog","Khmer","Hungarian","Greek","Czech","Swedish","Belarusian", "Other"]), {}, :class => 'entry-form' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :location, options_for_select(["North America", "South America", "Asia", "Europe", "Russia", "Australia"]), {}, :class => 'entry-form' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :solommr, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :solommr, :class => 'entry-form' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
    <%= f.text_field :email, :class => 'entry-form' %>
    </div>
  </div>
    <br>
    <p>Email address is optional and only used to send info on the team that has added you.</p>
    <%= f.hidden_field :playerSteamID, :value => session[:current_user][:uid] %>
    <div class="controls">
    <%= f.hidden_field :username, :value => session[:current_user][:nickname] %>
  </div>
  <div class="control-group">
    <%= "All forms must be filled out, one post per Steam user." if @player.errors.any? %>
  </div>
<div class="form-actions" style="padding:10px">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                players_path, :class => 'btn' %>
  </div>
 
                                              

<% end %>
                                              
