<%= player %>

<%= player.language.titleize %>
<%= player.username %>

<div class="contentwrapper">
<div class="contentcolumn">
  <table class="table">
  <thead>
    <tr>
      <th><%= player.username %></th>
      <th>Carry</th>
      <th>Mid</th>
      <th>Offlane</th>
      <th>Jungle</th>
      <th>Support</th>
      <th>Language</th>
      <th>Location</th>
      <th>Solo MMR</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.username.titleize, "http://dotabuff.com/players/" + player.playerSteamID %></td>
        <td><% if player.one? %><%= image_tag('checkmark.png')  %><% else %> <%= image_tag('redx.png') %><% end %></td>
        <td><% if player.two? %><%= image_tag('checkmark.png')  %><% else %> <%= image_tag('redx.png') %><% end %></td>
        <td><% if player.three? %><%= image_tag('checkmark.png')  %><% else %> <%= image_tag('redx.png') %><% end %></td>
        <td><% if player.four? %><%= image_tag('checkmark.png')  %><% else %> <%= image_tag('redx.png') %><% end %></td>
        <td><% if player.five? %><%= image_tag('checkmark.png')  %><% else %> <%= image_tag('redx.png') %><% end %></td>
        <td><%= link_to player.language.titleize, root_path( player.language, :by_language => player.language) %></td>
        <td><%= link_to player.location.titleize, root_path( player.location, :by_location => player.location) %></td>
        <td><%= player[:solommr] %></td>
        <td>
        
          <% if session.key? :current_user and session[:current_user][:uid] == player.playerSteamID %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      player_path(player),
                      :title => "Remove your listing?",
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Remove your listing?')) },
                      :class => 'btn btn-mini btn-danger' %>   
          <% else %>  
          <%= link_to "Add Steam Friend", "steam://friends/add/" + player.playerSteamID, :class => 'btn btn-primary' %>
          <% end %>
                  
     <% end %>
          </td>
        </tr>    
  </tbody>
   
</table>