<% model_class = Player %>

<style>
  body {
    padding-top: 80px;
  }
</style>

  <div class="align-right">  
    
  </div>

<div class="contentwrapper">
<div class="contentcolumn">
  <table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:username) %></th>
      <th><%= link_to model_class.human_attribute_name(:Carry), "http://dotawithme.com/players?one=true" %></th>
      <th><%= link_to model_class.human_attribute_name(:Mid), "http://dotawithme.com/players?two=true" %></th>
      <th><%= link_to model_class.human_attribute_name(:Offlane), "http://dotawithme.com/players?three=true" %></th>
      <th><%= link_to model_class.human_attribute_name(:Jungle), "http://dotawithme.com/players?four=true" %></th>
      <th><%= link_to model_class.human_attribute_name(:Support), "http://dotawithme.com/players?five=true" %></th>
      <th><%= model_class.human_attribute_name(:language) %></th>
      <th>2nd Language</th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th>Solo MMR</th>
      <th>Type of Play</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    
    <% @players.each do |player| %>
    
      <tr>
        <td><%= link_to player.username.titleize, "http://dotabuff.com/players/" + player.playerSteamID %></td>
        <td><% if player.one? %><%= image_tag('checkmark.png')  %><% else %> <%= image_tag('redx.png') %><% end %></td>
        <td><% if player.two? %><%= image_tag('checkmark.png')  %><% else %> <%= image_tag('redx.png') %><% end %></td>
        <td><% if player.three? %><%= image_tag('checkmark.png')  %><% else %> <%= image_tag('redx.png') %><% end %></td>
        <td><% if player.four? %><%= image_tag('checkmark.png')  %><% else %> <%= image_tag('redx.png') %><% end %></td>
        <td><% if player.five? %><%= image_tag('checkmark.png')  %><% else %> <%= image_tag('redx.png') %><% end %></td>
        <td><%= link_to player.language.titleize, root_path( player.language, :by_language => player.language) %></td>
        <td><%= link_to player.languageTwo.titleize, root_path( player.language, :by_languageTwo => player.language) %></td>
        <td><%= link_to player.location.titleize, root_path( player.location, :by_location => player.location) %></td>
        <td><%= player[:solommr] %></td>
        <td><%= link_to player.style.titleize, root_path( player.style, :by_style => player.style) %></td>
        <td>
        
          <% if session.key? :current_user and session[:current_user][:uid] == player.playerSteamID %>
          <%= link_to 'Edit', edit_player_path(player), :class => 'btn btn-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      player_path(player),
                      :title => "Remove your listing?",
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Remove your listing?')) },
                      :class => 'btn btn-mini btn-danger' %>   
          <% else %>  
          <%= link_to "Add Steam Friend", "steam://friends/add/" + player.playerSteamID, :class => 'btn btn-primary' %>
          <% end %>
                  
     <% end %>
          </td>
        </tr>    
  </tbody>
   
</table>

<div class="contentwrapper">  
  <%= link_to "New Listing",
            new_player_path,
            :class => 'btn btn-primary' %>
<div class="align-right1">
  <%= will_paginate @players %>
</div>
  </div>  
</div>
</div>

<% if false %>
<div class="sidebar">
    <%= yield :sidebar %>
      
</div> 
<% end %>

  
