<!DOCTYPE html>
<html>
<head>
  <title>Dotawithme</title>
  
  <%= stylesheet_link_tag    "cyborg", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "cyborg", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Peralta' %>
  
  <style>
     h1 {
      font-family: 'Peralta', serif;
      font-size: 56px;
      color: #0099CC;
     }
</style>
  
</head>
<body>
   
  
 
  
  <div id='wrapper'> 
  <% content_for :sidebar do %>
  <!-- sidebar content specific to this page -->
    
<% end %>
    
    <div class="container">
      <div class="row">
        <div class="span2"></div>
     <div class="span8">
        <div id='content'> 
          <center><a href="/"> <h1>DOTA WITH ME</h1></a> <%= render 'layouts/navigation_links' %></center> 
 
    <%= yield %> 
  </div> 
       </div>
        <div class="span2"></div>
</div> 
    </div>
    </div>
<footer>
  <%= render 'layouts/footer' %>
  </footer>
</body>
</html>
